/* J'utilse de preference les pourcentage ou vh iu vw car sa permet de me faciliter la tache pour rendre le site responsive*/
body {
  background: rgb(0, 0, 0);
  color: lime;
  font-family: monospace;
  display: flex;/* permet d'aligner et organiser automatiquement les éléments enfants (se trouve dans le body)*/
  height: 100vh; /* hauteur de la fenetre*/
  width: 100vw; /* largeur de la fenetre*/
}

#terminal {
  position: relative; /* permet de positionner les elements par rapport a cette div*/
  width: 90%;
  height: 90vh;
  margin: 20px auto;
  background: #111;
  padding: 20px;
  border: 2px dashed #00ff00;
  overflow: hidden; 
  z-index: 10; /* permet de mettre le bloc au dessus des autres elements plus le chiffre est grand plus il est important */
}

#terminal::before, 
#terminal::after { /* cette fonction permet de faire un fond qui clignote */
  content: ''; /* permet de voir l'animation sans avoir de text car sans text l'animatio nne fonctionne pas*/
  position: absolute; /* positionne les elements par rapport a la div terminal et la pourqu'il se superpose */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  animation: bug 5s infinite; /* applique l'animation bug */
  z-index: 1; /* permet d'avoir la priorité la plus basse */
}

#terminal::after { /* permet de faire un deuxieme fond qui clignote avec un delai different et la couleur différente*/
  background-color: rgba(197, 185, 185, 0.192);
  animation-delay: 3s;
}

.posi { 
  position: relative;
  z-index: 10; /* permet de faire en sorte que le text soit plus visible*/
  
}

.glitch {
  position: absolute;
  top: 50%;
  transform: rotate(3deg); /* me permet de faire une rotation du text de 3deg*/
  color: red;
  animation: erreur 0.5s infinite;
  font-size: 15vw;
  z-index: 1000; /* cette ligne permet que la valeur la plus haute soit mis en avant */
}
.secret {
    position : relative; 
    color: rgb(255, 255, 255,0.0); /* rend le text invisible */
    font-size: 15px;
}

.bloc {
 position: relative;  /* me permet de faire fonctionner z-index */
  z-index: 10; 
  width: 80%;
  max-width: 600px; /* largeur maximale du bloc pour pas qu'il soit trop grand */
  text-align: left; /* met le texte a gauche*/
  
}


button { /*style du bouton, c'est a dire couleur taille bordure...*/
  margin-top: 20px;
  padding: 5px 15px;
  font-size: 16px;
  background-color: #222;
  color: #00ff00;
  border: 1px solid #00ff00;
  
}

button:hover { /*il permet de selection le bouton et hover si la souris survole le bouton*/
  background-color: #00ff00;
  color: #000;
  cursor: pointer;  /*change le curseur en pointeur*/
}

/* je n'ai pas trouvé de solution pour faire en sorte que le text du js soit plus visible.*/



@keyframes erreur{
  0% { opacity: 1; } /* point de départ de l'animation text  normal */
  50% { opacity: 0.3; } /* milieu de l'anime text presque invi */
  100% { opacity: 1; } /* redevient normal */
}




@keyframes bug {
  0% { transform: translate(0, 0); opacity: 1; } /* point de départ de l'animation text totalement normale */
  20% { transform: translate(-2px, 2px); opacity: 0.8; } /* déplace le text de 2px vers la gauche et 2px vers le bas et un peu moins visible*/
  40% { transform: translate(2px, -2px); opacity: 0.6; } /* ensuite de suite*/
  60% { transform: translate(-1px, 1px); opacity: 0.8; } 
  80% { transform: translate(1px, -1px); opacity: 0.9; }
  100% { transform: translate(0, 0); opacity: 1; } /* redevient normal */
}

