body {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
  background-color: #0d0d0d;
  color: #00ffcc;
}

.langue { /*paramètre pour mettre le drapeau en haut a droite*/
  position: absolute; 
  top: 10px;
  right: 10px;
}

.drapeau { /* taille du drapeau + curseur qui change quand la souris est dessus*/
  width: 30px;
  height: auto;
  cursor: pointer;
}

.titre {
  text-align: center; /* met le text au mileu de la page*/
  font-size: 48px; /*taille*/
  margin-top: 40px; /*permet de faire un espace entre le haut de la page et le titre*/
  color: #00ffcc;
}

.sous-titre {
  text-align: center;
  font-size: 19px;
  margin-bottom: 40px;
  color: #cccccc;
}

/* Disposition principale */
.principale {
  display: flex; 
  padding: 0 5% 0 5%; /* fait un espace entre les bordures droites et gauches*/
}

/* Colonne gauche */
.marge {
  width: 35%;
  padding-right: 2%;
}

/* Colonne droite */
.contenue {
  width: 60%;
  padding-left: 2vh;
}

.bloc { /* permet de paramétrer la zone de text*/
  padding: 10px; /* fait en sorte que les bordures du soit pas coller au texte*/
  font-size: 18px;
  margin-bottom: 30px; /* fait un espace entre chaque text*/
  color: #00ffcc;
  box-shadow: 0 0 15px #00ffcc; /*fait un effet d'ombre*/
  border-radius: 8px; /*fait les bords arrondis*/
}

.liste {
  padding-left: 15px; /*permet de faire en sorte d'aligner le text*/
}

.info {
  margin-bottom: 8px; /*agrandit le zone de text*/
  color: #ffffff;
}

/* Bouton */
button {
  background-color: #0d0d0d; /* couleur du fond du bouton*/
  border: 2px solid #00ffcc; /*bordure*/
  border-radius: 8px;
  color: #00ffcc;
  padding: 10px 20px; /*agrandit la taille du bouton*/
  font-size: 20px; /* taille du text*/
  cursor: pointer;
  margin: 30px auto;
  display: block; /* occupe tout la largeur et le met au milieu*/
}


@media screen and (max-width: 768px) { /* meme code mais modifier pour qu'il fonctione sur tel*/
  .principale {
    flex-direction: column; /* aligne les éléments en colonne*/
    padding: 0 5%;
  }

  .marge,
  .contenue {
    width: 100%;
    padding: 0;
    border: none;
  }

  .langue {
    position: static;
    text-align: center;
    margin-bottom: 20px;
  }

  .drapeau {
    width: 40px;
  }

  .titre {
    font-size: 35px;
  }

  .sous-titre {
    font-size: 16px;
  }

  button {
    width: 100%;
  }
}