	/* paramètre de la page */
	body {
		font-size: 18px;
		/* met ici pour que sa soit la meme taille de texte pour tout les div */
		margin: 0;
		padding: 0; 
		height: 100vh;
		font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	}

	/* div principale qui permet de paramétrer la taille du site  */
	#cv {
		width: 100%;
		height: 100%;
		position: relative;
		background: rgb(50, 156, 255);

	}

	/* taile de la div et position pour la photo*/
	#photo {
		width: 30%;
		float: left;
		margin-left: 20px; /* permet de faire un petit espace pour eviter qu'il soit coller a gauche de la page*/
		margin-bottom: 36px; /* permet que le prochain element en dessous et un espace*/
		margin-top: 20px; /* evite que la photo soit tout en haut de la page mais un peu plus bas  */
	}

	/* taille de la photo*/
	#photo-img {
		width: 150px;
		height: 175px;
	}

	/* div qui gère les petits divs et aussi la largeur pour eviter de casser tout la page*/
	#info-list {
		width: 30%;
		float: left;
		clear: left; /* permet de gèrer si il doit l'element en dessous du float ou pas */
		margin-left: 0px;
	}

	/* fait un contour sur les div dans la marge et les espaces entre les divs*/
	.info {
		box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
		font-size: 18px;
		padding: 10px 14px; /* gère l'espace au tour de l'element */
		margin-bottom: 40px;
	}


	#main {
		width: 70%;
		height: 100%;
		background: #ffffff;
		margin-left: 30%;
	}

	.langage {
		position: absolute;
		top: 20px;
		right: 20px;

	}

	/* parametre pour afficher mon prenom */
	#name {
		text-align: center;
		padding: 10% 0 12px;
		font-size: 48px;
		margin: 0;
		color: #000000;
	}

	/* permet possitionner la div et de faire en sorte que les div exp soivent plus simple a placer  */
	#content {
		width: 100%;
		margin-top: 12px;
		position: relative;
		height: 80%;
	}

	/* permet de faire un fond pour les div work placement , education.... */
	.exp {

		padding: 14px 18px;
		margin-bottom: 80px;
		background: rgba(223, 222, 222, 0.3);
	}
	.return {
		position: absolute;
		bottom: 20px;
		right: 20px;
		
	}
	button {
    border: none;
}

	/* Responsive pour les écrans ≤ 768px du style mobile */
	/* meme code css que celui pour pc mais juste modifier sur quelque endroit pour l'adapter correctement au format smartphone */
	@media screen and (max-width: 968px) {
		body {
			font-size: 13px;
			margin: 0;
			padding: 0;
			height: 100%;
			font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
		}

		#cv {
			width: 100%;
			height: 100%;
			position: relative;
			background: rgb(50, 156, 255);

		}

		#photo {
			width: 30%;
			float: left;
			margin-left: 20px;
			margin-bottom: 55px;
			margin-top: 20px;
		}

		#photo-img {
			width: 70%;
			height: 50%;
		}

		#info-list {
			width: 40%;
			height: 100%;
			margin-left: 0px;
		}

		.info {
			box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
			font-size: 13px;
			margin-bottom: 33px;
		}


		#main {

			width: 60%;
			height: 100%;
			margin-left: 40%;
		}

		#name {
			text-align: center;
			font-size: 48px;
			color: #000000;
		}

		#content {
			width: 100%;
			position: relative;
		}
		.exp {
		background: rgba(223, 222, 222, 0.25);
	}
	.drapeau {
		width: 60px;
		height: 40px;
	}
	 .return {
        position: relative;
        margin: 20px 0 0 20px;
        text-align: right;
    }

    .langage {
        position: relative;
        margin: 20px 0 0 20px;
        text-align: right;
    }
	}