body {
  background-color: #0d0d0d;
  color: #00ffcc;
  font-family: 'Courier New', monospace; 
  padding: 40px;
  text-align: center; /* centre le texte au centre */
}

.bloc {
  padding: 20px; 
  margin: 30px auto; /* centre le bloc horizontalement */
  width: 80%;
  max-width: 600px; /* largeur maximale du bloc pour pas qu'il soit trop grand */
  text-align: left; /* met le texte a gauche*/
  box-shadow: 0 0 15px #00ffcc; /*ajoute une ombre bleue autour du bloc comme une bordure*/
}

button { /*style du bouton, c'est a dire couleur taille bordure...*/
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #222;
  color: #00ffcc;
  border: 1px solid #00ffcc;
}

button:hover {
  background-color: #00ffcc;
  color: #000;
  cursor: pointer;  /*change le curseur en pointeur*/
}

